class {
    handleClick() {
        console.log("hello!");
    }
}

<button class=input.size on-click("handleClick")>
    <${input.renderBody}/>
</button>
style {
    .small {
        padding: 8px;
    }
    .medium {
        padding: 16px;
    }
    .large {
        padding: 24px;
    }
}
