@layer reset, base, component, override;

@import "./base/reset.css" layer(reset);
@import "./base/color.css" layer(base);
@import "./base/shadow.css" layer(base);

html,
body {
  --app-max-width: 1600px;
  --app-padding-inline: 1rem;

  min-height: 100%;
  color: var(--gray-50);
  background: var(--gray-950);

  @media screen and (width >= 560px) {
    --app-padding-inline: 2rem;
  }

  @media screen and (width >= 1120px) {
    --app-padding-inline: 3rem;
  }
}
