import { getPopularShows, getPopularShows2 } from "../../utils/get-shows";
import { mockdata } from "../../constants/mockdata";

<div class="container">
  <pod-grid collection=mockdata/>
  <!-- <await(getPopularShows2()) client-reorder>
    <@then|shows|>
      <pod-grid collection=shows/>
    </@then>
  </await> -->
</div>
