:where(html) {
  --gray-50-oklch: 97.59% 0 264.54;
  --gray-50: oklch(var(--gray-50-oklch));

  --gray-100-oklch: 94.72% 0.01 286.3;
  --gray-100: oklch(var(--gray-100-oklch));

  --gray-200-oklch: 88.58% 0.01 273.34;
  --gray-200: oklch(var(--gray-200-oklch));

  --gray-300-oklch: 78.09% 0.02 273.96;
  --gray-300: oklch(var(--gray-300-oklch));

  --gray-400-oklch: 65.59% 0.03 273.39;
  --gray-400: oklch(var(--gray-400-oklch));

  --gray-500-oklch: 55.61% 0.04 274.47;
  --gray-500: oklch(var(--gray-500-oklch));

  --gray-600-oklch: 47.61% 0.04 275.62;
  --gray-600: oklch(var(--gray-600-oklch));

  --gray-700-oklch: 41.63% 0.03 275.19;
  --gray-700: oklch(var(--gray-700-oklch));

  --gray-800-oklch: 37.47% 0.03 276.2;
  --gray-800: oklch(var(--gray-800-oklch));

  --gray-900-oklch: 34.36% 0.02 277.78;
  --gray-900: oklch(var(--gray-900-oklch));

  --gray-950-oklch: 24.55% 0.01 278.95;
  --gray-950: oklch(var(--gray-950-oklch));

  --black-oklch: 10% 0.01 278.95;
  --black: oklch(var(--black-oklch));
}
